/SimpleWebApp/Logs/
/SimpleWebApp/Cache/
/SimpleWebApp/bin/
/SimpleWebApp/obj/
/SimpleWebApp/wwwroot/lib/
/SimpleWebApp.Core/bin/
/SimpleWebApp.Core/obj/
/SimpleWebApp.API/bin/
/SimpleWebApp.API/obj/
/SimpleWebApp.API/wwwroot/lib/
/IO.Swagger/bin/
/IO.Swagger/obj/
/TestProject/bin/
/TestProject/obj/
/packages
/SimpleWebApp.Core/wwwroot/lib/
.idea
.vs
.user