/SimpleWebApp/Logs/
/SimpleWebApp/Cache/
/SimpleWebApp/bin/
/SimpleWebApp/obj/
/SimpleWebApp/wwwroot/lib/
/TestProject/bin/
/TestProject/obj/
/packages
/TestProjects/IO.Swagger/bin
/TestProjects/IO.Swagger/obj
/Simple_restClient/bin/
/Simple_restClient/obj/
.idea
.vs
.user