@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_Layout_2";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @Html.ActionLink("Rest api simple client","RestClient","Home")
</div>
