html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table{
  border-radius: 15px;
}

table, th, td{
  border-spacing: 5px;
  border: transparent;
  padding: 4px;
  text-align: center;
  color: darkblue;
}
th{
  padding: 5px;
}
tbody tr.custom:nth-child(even){
  background-color: #b6effb;
  color: transparent;
}

table.custom, th.custom, td.custom{
  border: transparent;
  padding: 5px 10px 7px 0;
  color: darkblue;
  text-align: left;
}

input.class-chb{
  width: 25px;
  height: 25px;
}