@{
    Layout = "_Layout";
    
    var img = Context.Items[$"imgString_{Context.Items["imgString"]}"];
}
<p>
    <img height="100" width="100" src="@img" alt="">
</p>
<form method="post" enctype="multipart/form-data">
    @Html.ValidationSummary()
    <input type="file" name="file" class="form-control"/>
    <button type="submit" class="form-control">Upload File</button>
</form>