@{
    Layout = "_Layout";
}
<form method="post" enctype="multipart/form-data">
    @Html.ValidationSummary()
    <input type="file" name="file" class="form-control"/>
    <button type="submit" class="form-control">Upload File</button>
</form>